/* Costum Sidebar */

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    #not-printed, #not-printed * {
        visibility: hidden;
    }
}

.sidebar .sidebar-body .nav .nav-item .nav-link:hover {
    color: #ae5a2c;
}
.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded="true"] {
    color: #ae5a2c;
}
.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    margin-left: 36px;
}
.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-icon {
    color: #ae5a2c;
    fill: rgba(239, 243, 255, 0.5);
}
.costum-nav-item:hover .costum-nav-link {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: 9px;
}
.costum-nav-item .costum-nav-link {
    -webkit-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.costum-nav-item:hover {
    color: #ae5a2c;
}

.costum-nav-item-active {
    color: #ae5a2c;
}

.costum-submenu {
    margin-left: 6px;
}
/* End Costum Sidebar */

/* ##################################################### */

/* Sorting Icon */
.table.b-table > thead > tr > [aria-sort],
.table.b-table > tfoot > tr > [aria-sort] {
    cursor: pointer;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 0.65em 1em;
}
.table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left),
.table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) {
    background-position: right calc(0.75rem / 2) center;
    padding-right: calc(0.75rem + 0.65em);
}
.table.b-table > thead > tr > [aria-sort].b-table-sort-icon-left,
.table.b-table > tfoot > tr > [aria-sort].b-table-sort-icon-left {
    background-position: left calc(0.75rem / 2) center;
    padding-left: calc(0.75rem + 0.65em);
}
.table.b-table > thead > tr > [aria-sort="none"],
.table.b-table > tfoot > tr > [aria-sort="none"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table > thead > tr > [aria-sort="ascending"],
.table.b-table > tfoot > tr > [aria-sort="ascending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='black' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table > thead > tr > [aria-sort="descending"],
.table.b-table > tfoot > tr > [aria-sort="descending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='black' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table.table-dark > thead > tr > [aria-sort="none"],
.table.b-table.table-dark > tfoot > tr > [aria-sort="none"],
.table.b-table > .thead-dark > tr > [aria-sort="none"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table.table-dark > thead > tr > [aria-sort="ascending"],
.table.b-table.table-dark > tfoot > tr > [aria-sort="ascending"],
.table.b-table > .thead-dark > tr > [aria-sort="ascending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table.table-dark > thead > tr > [aria-sort="descending"],
.table.b-table.table-dark > tfoot > tr > [aria-sort="descending"],
.table.b-table > .thead-dark > tr > [aria-sort="descending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table > thead > tr > .table-dark[aria-sort="none"],
.table.b-table > tfoot > tr > .table-dark[aria-sort="none"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table > thead > tr > .table-dark[aria-sort="ascending"],
.table.b-table > tfoot > tr > .table-dark[aria-sort="ascending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table > thead > tr > .table-dark[aria-sort="descending"],
.table.b-table > tfoot > tr > .table-dark[aria-sort="descending"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
.table.b-table.table-sm > thead > tr > [aria-sort]:not(.b-table-sort-icon-left),
.table.b-table.table-sm
    > tfoot
    > tr
    > [aria-sort]:not(.b-table-sort-icon-left) {
    background-position: right calc(0.3rem / 2) center;
    padding-right: calc(0.3rem + 0.65em);
}
.table.b-table.table-sm > thead > tr > [aria-sort].b-table-sort-icon-left,
.table.b-table.table-sm > tfoot > tr > [aria-sort].b-table-sort-icon-left {
    background-position: left calc(0.3rem / 2) center;
    padding-left: calc(0.3rem + 0.65em);
}
/* End Sorting Icon */

/* ##################################################### */

/* Costum Vue-Select */
.style-chooser .vs__dropdown-menu {
    max-height: 200px;
}

/* End Costum Vue-Select */

/* Costum Tabel Index */
.container {
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr auto;
    margin-bottom: 5px;
}
.grid-item-container {
    /* background: chartreuse; */
    display: grid;
    gap: 5px;
    align-content: center;
    grid-template-columns: 20% 29% 50%;
}
.grid-subitem-2 {
    border-style: inherit;
}

.grid-sub-item-3 {
    display: grid;
    padding-top: 3px;
    grid-template-columns: auto 1fr 30%;
    text-justify: center;
    align-items: center;
    /* background-color: rgb(0, 17, 255); */
}
/* .grid-item-1 {
	background-color: blue;
} */
/* .grid-item-2 {
	
	background-color: rgb(0, 255, 128);
} */

input.costum-input:focus {
    outline-color: #d6d6d6;
    outline: none !important;
    box-shadow: 0 0 10px #a393df;
}
input.costum-input:hover {
    outline-color: #d6d6d6;
    outline: none !important;
    box-shadow: 0 0 10px #a393df;
}

input.costum-input {
    outline-color: #d6d6d6;
    width: 100%;
    font-size: medium;
    padding-left: 10px;
    border-style: groove;
    border-color: #cfcfcf;
    text-justify: center;
    /* outline-style: initial; */
}
.grid-item-container-2 {
    display: grid;

    grid-template-columns: 1fr auto;
    gap: 5px;
}

.header-controller-table {
    display: grid;
    gap: 4px;
    grid-template-columns: 15% auto 1fr;
    margin-bottom: 4px;
}
.header-controller-table-2 {
    /* background: lime; */
    margin-right: 2px;
}
.header-controller-table-3 {
    display: grid;
    padding-top: 1px;
    gap: 4px;
    grid-template-columns: auto 1fr;
    /* background: cyan;s */
    align-items: center;
}
.header-controller-table-3-1 {
    display: grid;
    grid-template-columns: auto auto;
}
.header-controller-table-3-2 {
    display: grid;
    justify-items: end;
}

.label-table-controller {
    margin-top: 3px;
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        /* background-color: rgb(255, 217, 0); */
        /* background: crimson; */
        grid-template-columns: 1fr;
    }
    .grid-item-container {
        /* background: chartreuse; */
        display: grid;
        align-content: end;
        /* background-color: rgb(0, 47, 255); */
        grid-template-columns: 1fr;
    }
    .grid-item-container-2 {
        top: 20px;

        position: inherit;
        /* display: grid; */

        /* grid-template-columns: 1fr auto; */
    }
    .grid-sub-item-3 {
        display: grid;
        gap: 4px;
        grid-template-columns: 10% 30%;
        text-justify: center;
        align-items: center;
    }
    .header-controller-table {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr;
        margin-bottom: 4px;
    }
}

input.asdasd {
    outline-style: ridge;
}
input.costum-checkbox {
    height: 15px;
    width: 15px;
    border-style: inherit;
    position: relative;
    top: 8px;
    margin-left: 5px;
}
input.costum-checkbox:hover {
    box-shadow: 0 0 10px #a393df;
}
input.costum-checkbox:checked {
    box-shadow: 0 0 5px #005cc8;
}

label.costum-checkbox {
    position: relative;
    top: 6px;
    -webkit-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.costum-label-filter {
    position: relative;
    top: 5px;

    margin-right: 5px;
}
.footer-table-container {
    display: grid;
    grid-template-columns: 1fr auto;
}
.footer-table-container-item1 {
    display: grid;
    gap: 5px;
    align-items: center;
    justify-items: center;
    /* text-align: center; */
    grid-template-columns: 100px 100px;
}

@media screen and (max-width: 600px) {
    .footer-table-container {
        display: grid;
        gap: 10px;
        padding-left: 14px;
        grid-template-columns: 1fr;
    }
    .footer-table-container-item1 {
        display: grid;
        text-align: start;
        justify-items: start;
        grid-template-columns: 1fr 1fr;
    }
    .footer-table-container-item2 {
        display: grid;
        justify-items: center;
    }
}

.grid-action-column {
    display: grid;
    gap: 4%;
    grid-template-columns: auto auto auto;
}
/* End Costum Tabel Index*/

/* Costum  button */
.del-btn:hover {
    cursor: pointer;
}

.custom-button-animate {
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.custom-button-animate-item1 {
    grid-row: span 2;
    height: auto;
}
.custom-button-animate-item2 {
    grid-row: span 2;
    height: auto;
    margin: 0.5rem 0.5rem 0.4rem;
}

/* End Costum button */

/* Costum Modal form group */
.form-group label {
    margin-bottom: 0;
}
.col-form-label {
    padding-bottom: 0;
}
/* End Costum Modal */

/* Costum badge  */
.costum-badge {
    margin-bottom: 4px;
    margin-right: 3px;
}

/* Costume checkbox */
.form-check {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}
.form-check .form-check-label {
    min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.form-check .form-check-label input[type="checkbox"] + .input-frame:before,
.form-check .form-check-label input[type="checkbox"] + .input-frame:after {
    position: absolute;
    top: 0;
    left: 0;
}
.form-check .form-check-label input[type="checkbox"] + .input-frame:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #727cf5;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.form-check .form-check-label input[type="checkbox"] + .input-frame:after {
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: feather;
    content: "\e83f";
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    font-size: 0.9375rem;
    font-weight: bold;
    color: #ffffff;
}
.form-check
    .form-check-label
    input[type="checkbox"]:checked
    + .input-frame:before {
    background: #727cf5;
    border-width: 0;
}
.form-check
    .form-check-label
    input[type="checkbox"]:checked
    + .input-frame:after {
    width: 18px;
    opacity: 1;
    line-height: 18px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.form-check
    .form-check-label
    input[type="checkbox"]:disabled
    + .input-frame:before {
    border-color: #e8ebf1;
}
.form-check
    .form-check-label
    input[type="checkbox"]:disabled:checked
    + .input-frame:after {
    background: #e8ebf1;
    color: #ffffff;
}
